@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body,
.percent,
.reset {
  font-family: "Space Mono", monospace;
  font-size: 24px;
}
.dollar,
.people,
#manual {
  text-align: end;
  padding-right: 0.5rem;
}
.warning {
  opacity: 0;
  font-size: 1.2rem;
  color: red;
}

.error {
  opacity: 1;
}

.people:required:invalid {
  outline-color: red;
}
